/* fix for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.content {
    margin-top: 55px;
}

.navbar-status {
    margin: 4px 25px;
}

.navbar-status-label {
    min-width: 75px;
    display: block;
    float: left;
}

.navbar-status span.label,
.navbar-status button.button {
    padding-bottom: 0;
    padding-top: 0;
}

@media (min-width: 768px) {
    #queue .name-cell {
        width: 210px;
    }

}
@media (min-width: 992px) {
    #queue .name-cell {
        width: 430px;
    }
}
@media (min-width: 1200px) {
    #queue .name-cell {
        width: 630px;
    }
}

#queue td:first-of-type {
    word-break: break-all;
}

#queue .progress-cell {
    width: 210px;
}

#queue .status-cell {
    width: 150px;
}

#queue .button-cell {
    width: 140px;
}

#queue .progress {
    margin: 0px;
}
#queue .progress span {
    padding: 0px 5px;
}

ul.chat {
    list-style: none;
    display: block;
    position: relative;
    height: 200px;
    overflow: auto;
    /*padding: 10px 15px;*/
    /*border: 1px solid #ddd;*/
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%);
                      -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%);
}

ul.user-list .badge {
    margin-top: 2px;
    margin-right: 5px;
}
