/* fix for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.content {
    margin-top: 55px;
}

#hash-status {
    margin: 5px 25px;
}

#queue .progress {
    margin: 0px;
}
#queue .progress span {
    padding: 0px 5px;
}

ul.chat {
    list-style: none;
    display: block;
    position: relative;
    height: 200px;
    overflow: auto;
    /*padding: 10px 15px;*/
    /*border: 1px solid #ddd;*/
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%);
                      -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 0%);
}

ul.user-list .badge {
    margin-top: 2px;
    margin-right: 5px;
}
