<alert ng-hide="filelists.length > 0">
    No file lists available. Maybe the one you are looking for is not downloaded yet.
    Look into the <a href="#/queue">Download-Queue</a>.
</alert>

<tabset>
    <tab ng-repeat="filelist in filelists" ng-controller="FileListCtrl">
        <tab-heading>
            {{ filelist | filelist2user }}
            <i class="clickable glyphicon glyphicon-refresh"
               ng-class="{'glyphicon-spin':!loadingComplete}"
               ng-click="loadFilelist()"
               title="Click to load again"></i>
        </tab-heading>
        <abn-tree tree-data="treeData" tree-control="tree" on-select="handle(branch)"></abn-tree>
    </tab>
</tabset>