<alert ng-hide="filelists.length > 0">
    No file lists available. Maybe the one you are looking for is not downloaded yet.
    Look into the <a href="#/queue">Download-Queue</a>.
</alert>

<tabset>
    <tab ng-repeat="filelist in filelists" heading="{{ filelist | filelist2user }}" ng-controller="FileListCtrl">
        <p class="text-center" ng-hide="treeData.length">
            <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        </p>
        <abn-tree tree-data="treeData" tree-control="tree" on-select="handle(branch)"></abn-tree>
    </tab>
</tabset>