<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <tr ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid">
            <td style="padding-left: {{ row.level * 20 }}px">
                <a ng-click="user_clicks_branch(row.branch)">
                    <i ng-class="row.tree_icon"
                       ng-click="row.branch.expanded = !row.branch.expanded"
                       class="indented tree-icon"> </i>
                    <span class="indented tree-label">
                        {{ row.label }}
                    </span>
                </a>
            </td>
            <td>
                <span ng-hide="row.branch.data.Size - 0 < 1">
                    {{ row.branch.data.Size | numeraljs:'0.0 b' }}
                </span>
            </td>
            <td ng-controller="BrowseDownloadCtrl">
                <button type="button" class="btn btn-primary btn-xs pull-right"
                        ng-click="download(row.branch)"
                        ng-disabled="downloaded">
                    <span class="glyphicon"
                          ng-class="downloaded ? 'glyphicon-ok' : 'glyphicon-download-alt'">
                    </span>
                    Download
                </button>
            </td>
        </tr>
    </table>
</div>