<tabset>
    <!-- Tab per hub -->
    <tab heading="{{ hub.hubname }}" active="$first" ng-repeat="hub in hubs" ng-controller="HubCtrl">
        <alert ng-hide="hub.connected">
            Not connected to <strong>{{ hub.huburl }}</strong>. Just added? Reload the page again.
            Maybe you should look into daemon's log.
            <button class="btn btn-danger btn-xs" type="button" title="Disconnect from this hub"
                    ng-click="disconnect(hub.huburl)">
                <span class="glyphicon glyphicon-log-out"></span>
                Disconnect
            </button>
        </alert>
        <div class="row" ng-show="hub.connected">
            <!-- User List -->
            <ul class="user-list list-group"
                ng-class="enlargedChat ? 'col-sm-1 col-sm-push-11' : 'col-sm-3 col-sm-push-9'">
                <li class="list-group-item pull-right">
                </li>
                <li ng-repeat="user in users | orderBy:'NickOrder' " class="list-group-item" ng-controller="UserCtrl"
                    popover="{{ user.IP }} - {{ user.Connection }} - {{ user.Tag }}"
                    popover-trigger="mouseenter" popover-placement="left"
                    ng-hide="enlargedChat">
                    <button class="btn btn-primary btn-xs pull-right" type="button"
                            title="Download {{ user.Nick }}'s filelist"
                            ng-click="downloadFilelist(user.Nick)"
                            ng-disabled="downloading">
                        <span class="glyphicon" ng-class="downloading ? 'glyphicon-ok' : 'glyphicon-list-alt'"></span>
                        {{ downloading && 'Downloading' || 'Browse' }}
                    </button>
                    <span class="badge">{{ user.Shared | numeraljs:'0.0 b' }}</span>
                <span class="nick" style="color: {{ user.Nick | stringToColor }}">{{ user.Nick }}</span>
                </li>
                <li class="list-group-item" ng-hide="enlargedChat">
                    <button class="btn btn-danger btn-xs" type="button" title="Disconnect from this hub"
                            ng-click="disconnect(hub.huburl)">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Disconnect
                    </button>
                    <button class="btn btn-default btn-xs pull-right" type="button" title="Enlarge chat"
                            ng-click="enlargeChat()">
                        Enlarge chat
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </button>
                </li>
                <li class="list-group-item" ng-show="enlargedChat">
                    <button class="btn btn-default btn-xs pull-right" type="button" title="Enlarge users"
                            ng-click="enlargeUsers()">
                        <span class="glyphicon glyphicon-triangle-left"></span>
                    </button>
                    &nbsp;
                </li>
            </ul>
            <div ng-class="enlargedChat ? 'col-sm-11 col-sm-pull-1' : 'col-sm-9 col-sm-pull-3'">
                <!-- Chat Log -->
                <div class="row">
                    <ul class="chat col-sm-12" scroll-glue>
                        <li ng-repeat="message in $storage.chatlog[hub.huburl] track by $index">
                            <span class="time">{{ message.time }}</span>
                            <span class="nick" style="color: {{ message.nick | stringToColor }}">&lt;{{ message.nick }}&gt;</span>
                            <span class="text">{{ message.text }}</span>
                        </li>
                    </ul>
                </div>
                <!-- Message Submit -->
                <div class="row">
                    <form ng-submit="sendChatMessage()">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Submit
                                </button>
                            </span>
                            <input type="text" class="form-control" ng-model="newChatMessage"
                                   placeholder="a chat message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </tab>
    <!-- Add new hub -->
    <tab heading="+">
        <form role="form" ng-submit="connect(newHubUrl)">
            <div class="form-group">
                <label for="newHubUrl">Connect to this hub:</label>
                <input type="text" class="form-control" ng-model="newHubUrl" id="newHubUrl" placeholder="adc://">
                <p class="help-block">Usually looks like "adc://23.435.34.34:1511" or "adc://some.domain.com:1511".</p>
            </div>
            <button type="button" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-log-in"></span>
                Connect
            </button>
        </form>
    </tab>
</tabset>
