<tabset>
    <!-- Tab per hub -->
    <tab heading="{{ hub.hubname }}" active="$first" ng-repeat="hub in hubs" ng-controller="HubCtrl">
        <alert ng-hide="hub.connected">
            Not connected to <strong>{{ hub.huburl }}</strong>. Just added? Reload the page again.
            Maybe you should look into daemon's log.
            <button class="btn btn-danger btn-xs" type="button" title="Disconnect from this hub"
                    ng-click="disconnect(hub.huburl)">
                <span class="glyphicon glyphicon-log-out"></span>
                Disconnect
            </button>
        </alert>
        <div class="row" ng-show="hub.connected">
            <!-- User List -->
            <ul class="user-list list-group col-sm-3 col-sm-push-9" ng-hide="ui.largeChat">
                <li ng-repeat="user in users | orderBy:'NickOrder' " class="list-group-item" ng-controller="UserCtrl"
                    popover-title="{{ user.Description }}"
                    popover="IP: {{ user.IP || 'n/a' }}, Upload: {{ user.Connection || 'n/a' }}, Client: {{ user.Tag || 'n/a' }}"
                    popover-trigger="mouseenter"
                    popover-placement="left"
                    ng-hide="ui.largeChat">
                    <span class="nick" style="color: {{ user.Nick | stringToColor }}">{{ user.Nick }}</span>
                    <button class="btn btn-primary btn-xs pull-right" type="button"
                            title="Download {{ user.Nick }}'s filelist"
                            ng-click="downloadFilelist(user.Nick)"
                            ng-disabled="downloading">
                        <span class="glyphicon" ng-class="downloading ? 'glyphicon-ok' : 'glyphicon-list-alt'"></span>
                        <span class="hidden-sm">{{ downloading && 'Downloading' || 'Browse' }}</span>
                    </button>
                    <span class="badge hidden-sm" title="{{ user.Shared | numeraljs: '0.000 b' }}">
                        {{ user.Shared | numeraljs:'0.0 b' }}
                    </span>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-danger btn-xs" type="button" title="Disconnect from this hub"
                            ng-click="disconnect(hub.huburl)"
                            ng-hide="ui.largeChat">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Disconnect
                    </button>
                    <button class="btn btn-default btn-xs pull-right" type="button" title="Enlarge chat"
                            ng-click="ui.largeChat = !ui.largeChat">
                        <span class="hidden-sm">Enlarge chat</span>
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </button>
                </li>
            </ul>
            <div ng-class="ui.largeChat ? 'col-sm-12' : 'col-sm-9 col-sm-pull-3'">
                <!-- Chat Log -->
                <div class="row">
                    <div class="fix-top-right" ng-show="ui.largeChat">
                        <button class="btn btn-default btn-xs" title="Show user list"
                                ng-click="ui.largeChat = !ui.largeChat">
                            <span class="glyphicon glyphicon-triangle-left"></span>
                        </button>
                    </div>
                    <ul class="chat col-sm-12" max-height="navbar nav-tabs" max-height-offset="12" scroll-glue>
                        <li ng-repeat="message in $storage.chatlog[hub.huburl] track by $index">
                            <span class="time">{{ message.time }}</span>
                            <span class="nick" style="color: {{ message.nick | stringToColor }}">&lt;{{ message.nick }}&gt;</span>
                            <span class="text" ng-bind-html="message.text | linky:'_blank'"></span>
                        </li>
                    </ul>
                </div>
                <!-- Message Submit -->
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="container">
                        <form ng-submit="sendChatMessage()">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        Submit
                                    </button>
                                </span>
                                <input type="text" class="form-control" ng-model="newChatMessage"
                                       placeholder="a chat message">
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </tab>
    <!-- Add new hub -->
    <tab heading="+">
        <form role="form" ng-submit="connect(newHubUrl)">
            <div class="form-group">
                <label for="newHubUrl">Connect to this hub:</label>
                <input type="text" class="form-control" ng-model="newHubUrl" id="newHubUrl" placeholder="adc://">
                <p class="help-block">Usually looks like "adc://23.435.34.34:1511" or "adc://some.domain.com:1511".</p>
            </div>
            <button type="button" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-log-in"></span>
                Connect
            </button>
        </form>
    </tab>
</tabset>
