<tabset>
    <!-- Tab per hub -->
    <tab heading="{{ hub.hubname }}" active="$first" ng-repeat="hub in hubs" ng-controller="HubCtrl">
        <alert ng-hide="hub.connected">
            Not connected to <strong>{{ hub.huburl }}</strong>. Just added? Reload the page again.
            Maybe you should look into daemon's log.
        </alert>
        <div class="row" ng-show="hub.connected">
            <!-- User List -->
            <ul class="user-list list-group col-sm-3 col-sm-push-9">
                <li ng-repeat="user in users" class="list-group-item"
                    popover="{{ user.IP }} - {{ user.Connection }} - {{ user.Tag }}" popover-trigger="mouseenter" popover-placement="left">
                    <button class="btn btn-info btn-xs pull-right" type="button" title="Download {{ user.Nick }}'s Fileist" ng-click="getFilelist(user.Nick)">Browse</button>
                    <span class="badge">{{ user.Shared | numeraljs:'0.0 b' }}</span>
	            <span class="nick" style="color: #{{ user.Nick | stringToColor }}">{{ user.Nick }}</span>
                </li>
                <li class="list-group-item pull-right">
                    <button class="btn btn-danger" type="button" title="Disconnect from this hub" ng-click="disconnect(hub.huburl)">Disconnect</button>
                </li>
            </ul>
            <div class="col-sm-9 col-sm-pull-3">
                <!-- Chat Log -->
                <div class="row">
                    <ul class="chat col-sm-12" scroll-glue>
                        <li ng-repeat="message in $storage.chatlog[hub.huburl] track by $index" ng-bind-html="message | chatMessage"></li>
                    </ul>
                </div>
                <!-- Message Submit -->
                <div class="row">
                    <form ng-submit="sendChatMessage()">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Submit</button>
                            </span>
                            <input type="text" class="form-control" ng-model="newChatMessage" placeholder="a chat message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </tab>
    <!-- Add new hub -->
    <tab heading="+">
        <form role="form">
            <input type="text" class="form-control" ng-model="newHubUrl">
            <button type="button" class="btn btn-primary" ng-click="connect(newHubUrl)">Connect</button>
        </form>
    </tab>
</tabset>
