<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="ui.navbarCollapsed = !ui.navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/" title="WebClient: {{ version.client }} - Daemon: {{ version.daemon }}">
            EiskaltDC++
        </a>
    </div>

    <div class="navbar-collapse" collapse="ui.navbarCollapsed">
        <ul class="nav navbar-nav" ng-click="ui.navbarCollapsed = true">
            <li ng-class="{active:isActive('/hubs')}">
                <a href="#/hubs">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="hidden-sm">Hubs</span>
                </a>
            </li>
            <li ng-class="{active:isActive('/queue')}">
                <a href="#/queue">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <span class="hidden-sm">Queue</span>
                </a>
            </li>
            <li ng-class="{active:isActive('/browse')}">
                <a href="#/browse">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="hidden-sm">Browse</span>
                </a>
            </li>
            <li ng-class="{active:isActive('/settings')}">
                <a href="#/settings">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="hidden-sm">Settings</span>
                </a>
            </li>
        </ul>
        <div class="navbar-right navbar-status">
            <div>
                <span class="navbar-status-label">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    Up:
                </span>
                {{ ratio.bandwidth_up | numeraljs: '0 b':'B' }}/s
            </div>
            <div>
                <span class="navbar-status-label">
                    <span class="glyphicon glyphicon-cloud-download"></span>
                    Down:
                </span>
                {{ ratio.bandwidth_down | numeraljs: '0 b':'B' }}/s
            </div>
        </div>
        <div class="navbar-right navbar-status">
            <div popover="" popover-trigger="mouseenter" popover-placement="bottom" popover-html="true">
                <span class="navbar-status-label">
                    <span class="glyphicon glyphicon-hdd"></span>
                    Hash:
                </span>
                <button type="button" class="btn btn-xs btn-info" title="Click to pause"
                        ng-show="hashing.status == 'hashing'" ng-click="toggleHashing()">
                    {{ hashing.status }}
                </button>
                <button type="button" class="btn btn-xs btn-warning" title="Click to resume"
                        ng-show="hashing.status == 'pause'" ng-click="toggleHashing()">
                    {{ hashing.status }}
                </button>
                <button type="button" class="btn btn-xs btn-success" title="Click to refresh share"
                        ng-show="hashing.status == 'idle'" ng-click="refreshShare()">
                    {{ hashing.status }}
                </button>
                <span ng-show="hashing.status == 'hashing' || hashing.status == 'pause'">
                    {{ hashing.bytesleft | numeraljs:'0.0 b' }} left
                </span>
            </div>
            <div>
                <span class="navbar-status-label">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Queue:
                </span>
                {{ queue.size | numeraljs:'0.0 b' }}
            </div>
        </div>
        <div class="navbar-right navbar-status" ng-show="newerVersion">
            <div>
                <span class="navbar-status-label">
                    <span class="glyphicon glyphicon-check"></span>
                    Update available:
                </span>
                {{ newerVersion.name }}
            </div>
            <div>
                <a href="{{ newerVersion.html_url }}" target="_blank">
                    Download
                </a>
            </div>
        </div>
    </div>
</div>
