<div id="queue" class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th class="name-cell">Name</th>
                <th class="progress-cell">Progress</th>
                <th class="status-cell">Status</th>
                <th class="button-cell"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in queue  | orderBy:'-PriorityOrder'  track by item.TTH "
                ng-controller="QueueItemCtrl">
                <td>
                    {{ item.Filename }}
                    <div collapse="!collapsed">
                        <strong>Target:</strong> {{ item.Path }}
                        <br>
                        <strong>TTH:</strong> {{ item.TTH }}
                    </div>
                </td>
                <td>
                    <progressbar value="item.Downloaded | extractPercentage">
                        <span style="color:black; white-space:nowrap;">
                            {{ item.Downloaded }} of {{ item.Size }}
                        </span>
                    </progressbar>
                    <div collapse="!collapsed">
                        <strong>Priority:</strong> {{ item.Priority }}
                        <br>
                        <strong>Added:</strong> {{ item.Added }}
                    </div>
                </td>
                <td>
                    {{ item.Status }}
                    <div collapse="!collapsed">
                        <strong>Users:</strong> {{ item.Users }}
                        <br>
                        <strong>Prio:</strong> {{ item.Priority }}
                    </div>
                </td>
                <td>
                    <button class="btn btn-info btn-xs" type="button" title="Show more information"
                            ng-click="collapsed = !collapsed" ng-class="{active: collapsed}">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-collapse-up': collapsed, 'glyphicon-collapse-down': !collapsed}">
                        </span>
                    </button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-xs" title="Priority up"
                                ng-click="changePrio(1)" ng-disabled="item.Priority == 'Highest'">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" title="Priority down"
                                ng-click="changePrio(-1)" ng-disabled="item.Priority == 'Paused'">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </div>
                    <button class="btn btn-danger btn-xs" type="button" title="Abort download of this file"
                            ng-click="abort()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
