<md-sidenav-layout>
  <md-sidenav #start (open)="closeStartButton.focus()">
    Start Sidenav.
    <br>
    <ul>
      <li *ngFor="let hub of hubs$ | async">
        {{hub.name}}
      </li>
    </ul>
    <br>
    <md-icon>settings</md-icon> Settings
    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>
    <span title="{{ version$ | async }}">EiskaltDC++</span>
  </md-toolbar>
  <main>
      <ice-hub [hub]="currentHub" *ngIf="currentHub"></ice-hub>
  </main>
</md-sidenav-layout>
