<md-toolbar>
  <span title="{{ version$ | async }}">EiskaltDC++</span>
  <nav>
    <a [routerLink]="['hubs']">
      <md-icon>home</md-icon> Hubs
    </a>
    <a [routerLink]="['downloads']">
      <md-icon>cloud_download</md-icon> Downloads
    </a>
    <a [routerLink]="['browse']">
      <md-icon>folder_shared</md-icon> Browse
    </a>
    <a [routerLink]="['settings']">
      <md-icon>settings</md-icon> Settings
    </a>
  </nav>
</md-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
